.container {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  justify-content: space-between;
  gap: var(--default-gap-spacing);
  margin-bottom: var(--default-bottom-spacing);
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions button:first-of-type {
  margin-right: 1.4rem;
}

.actions button:nth-of-type(2) {
  font-size: 1.2rem;
}
